BasedOnStyle: Google
AccessModifierOffset: -4
BreakBeforeBraces: Linux
IndentWidth: 4
TabWidth: 4
UseTab: ForIndentation #Always
AllowShortBlocksOnASingleLine: false
AllowShortFunctionsOnASingleLine: Inline
